.banner_header img {
    width: 100%;
}

/* content */
.bes_content {
    padding-left: 24px;
    margin-top: 26px;
}
.bes_content .content_md {
    padding-bottom: 30px;
    padding-right: 1%;
    margin-bottom: 30px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.bes_content .content_md h2 {
    font-family: font_facenext;
    margin-bottom: 18px;
    font-size: 17px;
    text-transform: uppercase;
}

.bes_content .content_md p {
    font-size: 15px;
    line-height: 1.4;
    font-family: font_facenext;
    color: #333;
}

.bes_content .content_md .img_md {
    margin: 0 0 20px 0;
}

.bes_content .content_md .img_md img {
    width: 100%;
}

ul.lead {
    font-family: font_facenext;
    font-size: 15px;
    margin-bottom: 20px;
    list-style-type: none;
}

ul.lead > li {
    position: relative;
    padding-left: 14px;
}

ul.lead > li > a {
    text-decoration: underline;
    color: #b6192a;
}

ul.koff_ul > li {
    position: relative;
    padding-left: 14px;
}

ul.koff_ul > li:before, ul.lead > li:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '-';
}

ul.koff_ul {
    font-family: font_facenext;
    list-style: none;
    font-size: 15px;
}

.tabs-main{
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.tabs-link{
    width: fit-content;
    display: block;
}


.tabs-link span:hover{
    background-color: #b6192a;
}

.tabs-link span{
    display: inline-block;
    padding: 8px 30px;
    min-width: 110px;
    background-color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    color: #000;
   
}

.tabs-link span:before {
    content: '>';
    position: relative;
    margin-right: 7px;
}

.tabs-link span.angle-right{
    font-size: 36px;
    transition: all .4s;
}
.tabs-link span.angle-right.rotate{
    transform: rotate(90deg);
}

.tabs-content{
    width: 0;
    height: 0;
    transition: 0.8s;
    opacity: 0;
}
.tabs-content.active{  
    width: 100%;
    height: 100%;
    opacity: 1;

}

/* col-md-4 */
.right_bes {
    position: sticky;
    top: 10px;
    margin-left: 40px;
}

.right_bes .h3_right h3 {
    margin-bottom: 2px;
    font-size: 14px;
    font-family: 'HelveticaNeueLTStd-Md', sans-serif;
}

.right_bes .h3_right ul {
    list-style: none;
}

.right_bes .h3_right > ul > li {
    position: relative;
    margin-left: 22px;
    margin-bottom: 2px;
    list-style-type: none;
    font-size: 14px;
}

.right_bes .h3_right > ul > li:before {
    content: "•";
    position: absolute;
    left: -11px;
    top: -3px;
    width: 10px;
    height: 10px;
    color: #b6192a;
    font-size: 18px;
}

.right_bes .h3_right > ul > li > a {
    text-decoration: none;
    color: #333;
}
/* end */

/* content service.html */
.bes_content .border_md {
    border: none;
}
p a.ser_a {
    display: inline-block;
    padding: 8px 30px;
    min-width: 110px;
    background-color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

p a.ser_a:hover {
    background-color: #b6192a;
}
/* end */

/* content unternehmen.html */
.bes_content .content_md .left_un {
    float: left;
    width: 15%;
    min-width: 80px;
}

.bes_content .content_md .right_un {
    float: left;
    width: 85%;
}

/* col-md-4 */
.bes_content .load_right {
    margin: 50px 0;
    border: 1px solid #dedede;
}

.bes_content .load_right .bo_right {
    padding: 12px 5% 18px 15%;
    padding-left: 6%;
    padding-right: 6%;
}
/* end */

/* content kontakt.html */
.content_kon {
    padding-left: 24px;
}
.bes_content .content_md h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: font_facenext;
}

.bes_content .kon_select {
    margin-bottom: 14px;
}

.bes_content .kon_select .select_all .name_select {
    font-family: font_facenext;
    background-color: #e0e0e0;
    font-size: 14px;
    color: #333;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 9px 6px;
}

.bes_content .kon_select .select_all .name_select > option {
    background-color: #fff;
    padding-left: 10px;
}
.bes_content .lable_all {
    margin-bottom: 14px;
}

.bes_content .lable_all label {
    font-family: font_facenext;
    width: 100%;
    font-size: 14px;
}

.bes_content .lable_all label input {
    display: block;
    width: 100%;
    padding: 10px 9px;
    margin-top: 2px;
    background-color: #e0e0e0;
    font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
    font-size: 14px;
    color: #333;
    border: 1px solid #e0e0e0;
}

.bes_content .text_kon label {
    font-family: font_facenext;
    font-size: 14px;
}

.bes_content .text_kon label a {
    text-decoration: underline;
    color: #333;
}

.bes_content .comment_kon {
    margin-bottom: 14px;
}

.bes_content .comment_kon label {
    font-family: font_facenext;
    font-size: 14px;
    width: 100%;
}

.bes_content .comment_kon label textarea {
    background-color: #e0e0e0;
    font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
    font-size: 14px;
    color: #333;
    border: 1px solid #e0e0e0;
    display: block;
    width: 100%;
    padding: 10px 9px;
    margin-top: 2px;
    min-height: 150px;
}

.bes_content .button_kon {
    margin-bottom: 14px;
}

.bes_content .button_kon button {
    font-family: font_facenext;
    font-size: 13px;
    min-width: 120px;
    padding: 8px 27px;
    background-color: #555;
    color: #fff;
    border: none;
    font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.bes_content .button_kon button:before {
    content: '>';
    margin-right: 3px;
}

.bes_content .button_kon button:hover {
    background-color: #777;
}

.top_kon {
    margin-top: 35px;
}
/* end */

/* content 25-jahre-fortschritt.html */
.bes_content .jah_bottom {
    margin-bottom: 20px;
    padding-bottom: 0;
}
/* end */

/* content produktion.html */
.bes_content .olw_all {
    margin-bottom: 40px;
    padding: 35px 0 50px 0;
    background: transparent url(https://www.was-vehicles.com/fileadmin/tpl/img/background_grey_fond.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-carousel .owl-stage-outer {
    margin: 0 35px;
}

.owl-theme .owl-dots {
    display: none;
}

.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
    font-size: 50px;
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 30%;
    right: 0;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 30%;
    left: 0;
}

.bes_content .olw_all .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #000;
}

.bes_content .olw_all .owl-theme .owl-nav button:focus {
    outline: none;
}
/* end */

/* content umwelt.html */
.bes_content .img_umw {
    float: none;
    width: 100%;
    min-width: 0;
}

.bes_content .img_umw img {
    max-width: 100%;
    height: auto;

}
/* end */

/* content news.html */
.banner_header {
    position: relative;
}

.banner_header .new_h1s {
    margin-left: 0;
    bottom: 45px;
    position: absolute;
    left: 0;
    bottom: 22px;
}

.banner_header .new_h1s h1.new_tops {
    margin-bottom: 0;
    color: #333;
    font-family: 'HelveticaNeueLTStd-Th';
    font-size: 27px;
    line-height: 1.4;
    text-transform: uppercase;
} 

.banner_header .new_h1s h1.new_tops span {
    font-family: font_faceend;
    float: left;
    clear: left;
    margin-top: 5px;
    padding: 4px 26px;
    background-color: #b6192a;
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
}

.bes_content .new_md {
    padding-bottom: 0;
}
.bes_content .new_bottom{
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.bes_content .new_md h3 {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
}

.bes_content .new_md h3 a {
    color: #000;
    text-decoration: none;

}

.bes_content .new_md p a {
    text-decoration: none;
    color: #333;

}

.bes_content .new_md a.new_more {
    color: #b6192a;
    display: table;
    margin-left: 6px;
    text-decoration: underline;
}

.bes_content .new_md a.new_more:before {
    content: ">";
    display: inline-block;
    margin-right: 2px;
}

.bes_content .new_all .new_md .img_news {
    float: left;
    width: 30%;
    margin-right: 30px;
}
.bes_content .new_all .new_md .img_news img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* end */

/* content safety-first.html */
.bes_content .mr_sa {
    margin-bottom: 20px;
}

.bes_content .mar_sa {
    margin-bottom: 0;
}

.bes_content .mr_sa input {
    border-color: #ccc;
    width: auto;
    display: inline;
    padding: 6px 5px;
    background-color: #e0e0e0;
    font-size: 14px;
    color: #333;
    border: 1px solid #e0e0e0;
}

.bes_content .sa_top {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bes_content .sa_div {
    padding-left: 0;
}

.bes_content .sa_14 {
    margin-bottom: 14px;
}

.bes_content .content_kon .sa_von {
    padding-bottom: 0;
    margin-bottom: 0;
}

.bes_content .content_kon .sa_von a {
    color: #333;
    text-decoration: underline;
}

.bes_content .sa_box .input_sa label {
    font-size: 14px;
}

.bes_content .sa_box .input_sa label input {
    position: relative;
    bottom: -1px;
    margin-right: 5px;
}

.bes_content .youtube-embed {
    width: 100%;
    float: left;
    position: relative;
}

.bes_content .youtube-embed-image {
    position: relative;
    cursor: pointer;
}

.bes_content .youtube-embed-image::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    left: 50%;
    background: transparent url(https://www.was-vehicles.com/fileadmin/tpl/img/icon/icon_youtube_play.svg) no-repeat 0 0;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    pointer-events: none;
}

.bes_content .youtube-embed-hint {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    color: #b6192a;
    padding: 19px;
    font-size: 14px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bes_content .youtube-embed-ok {
    display: inline-block;
    margin-top: -5px;
    padding: 8px 10px;
    border: 1px solid #b6192a;
    color: #b6192a;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
}

.bes_content .youtube-embed-image img {
    width: 100%;
    height: auto;
}
/* end */

/* content karriere.html */
.bes_content .kar_all p {
    margin-bottom: 20px;
}

.bes_content .kar_all a {
    font-family: font_facenext;
    text-decoration: underline;
    color: #333;
    font-size: 15px;
}

.card .end_col .right_kar {
    margin-bottom: 20px;
}

.card .end_col .right_kar .kar-image {
    float: left;
    margin-right: 12px;
}

.card .end_col .right_kar .kar-image img {
    transform: scale(1);
}

.card .end_col .right_kar .kar_data {
    font-family: font_facenext;
    font-size: 12px;
}

.card .end_col .right_kar .kar_data a {
    text-decoration: none;
    color: #333;
}

.kar_card {
    height: auto;
}
/* end */